<a href="https://colab.research.google.com/github/santhkumar07/FMML-2023-LABS/blob/main/kill_program1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*Question* 1 the given integer is even or odd

In [1]:
a = int(input("Enter number: "))
if(a % 2==0):
  print("Yes it is even number")
else:
  print("Yes it is odd number")

Enter number: 7
Yes it is odd number

Question 2 the given number is postive or negative

In [2]:
a = int(int(input("Enter a number:")))
if ( a>0):
  print("Yes it is positive number:")
else:
  print("Yes it is negative number:")

Enter a number:5
Yes it is positive number:

Question 3 the square number

In [4]:
num = int(input("Enter a number:"))
print(f"The square of {num}: {num**2}")

Enter a number:9
The square of 9: 81

Question 4 the sum of 3 numbers

In [6]:
a = int(input("Enter a number:"))
b = int(input("Enter a number:"))
c = int(input("Enter a number:"))
print("Sum of three numbers is", a+b+c)

Enter a number:5
Enter a number:5
Enter a number:6
Sum of three numbers is 16

Question 5 the product of three numbers

In [7]:
num1 = int(input("Enter a number:"))
num2 = int(input("Enter a number:"))
num3 = int(input("Enter a number:"))
print("product of three numbers is", num1*num*2*num3)

Enter a number:5
Enter a number:6
Enter a number:7
product of three numbers is 630

Question 6 remove spaces from a string

In [8]:
str = input("Enter a string: ")
print(str.replace(" ", ""))

Enter a string: "santh"
"santh"

Question 7 to conver fahrenheit into celsius

In [9]:
fahrenhiet = float(input("Enter a temperature in fahrenhiet:"))
celsius = (fahrenhiet - 32) * 5/9
print(fahrenhiet, "fahrenhiet is", celsius)

Enter a temperature in fahrenhiet:99
99.0 fahrenhiet is 37.22222222222222

Question 8 smallest number among three numbers

In [10]:
num1 = int(input("Enter a number:"))
num2 = int(input("Enter a number:"))
num3 = int(input("Enter a number:"))
print("The smallest number is", min(num1,num2,num3))

Enter a number:5
Enter a number:6
Enter a number:7
The smallest number is 5

Question 9 greatest number among three numbers

In [11]:
num1 = int(input("Enter a number:"))
num2 = int(input("Enter a number:"))
num3 = int(input("Enter a number:"))
print("The largest number is", max(num1,num2,num3))

Enter a number:2
Enter a number:3
Enter a number:4
The largest number is 4

Question 10 first 10 natural numbers

In [12]:
for i in range (1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

Question 11 reverse number

In [15]:
num = int(input("Enter a number :"))
print("The reverse of", num, "is", int(str(num)[::-1]))

Enter a number :1

TypeError: 'str' object is not callable

Question 12 sum of numbers in given range

In [16]:
start = input()
end = input()
sum = 0
for i in range(int(start), int(end)+1):
  sum += i
print(sum)

6
7
13

Question 13 digits in given number

In [17]:
num = input()
sum = 0
for i in num:
  sum+=int(i)
  print(sum)

5
5

Question 14 to print sum of n given natural numbers

In [ ]:
n = int(input())
sum_of_n_natural_numbers = (n * (n + 1)) // 2
print("sum of", n , "natural numbers is", sum_of_n_natural_numbers)

Question 15 calculate area of square for the given side

In [18]:
side = float(input())
area = side**2
print("Area of the square is", area)

7
Area of the square is 49.0

Question 16 to print all even numbers with in a given range

In [19]:
start = int(input())
end = int(input())
for i in range(start, end+1):
  if i%2==0:
    print(i)

8
9
8

Question 17 multiplication table in a give range

In [21]:
num = int(input())
for i in range(1, 11):
  print(num, "x", i ,"=", num*i)

9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

Question 18 first 10 natural numbers in a line seperated with comma

In [20]:
n = 11
for i in range(1,n):
    print(i, end=",")

1,2,3,4,5,6,7,8,9,10,

Question 19

In [22]:
str1 = input("Enter a first string:")
str2 = input("Enter a second string:")
print(str1+str2)

Enter a first string:"kumar"
Enter a second string:"santh"
"kumar""santh"

Question 20 take a string as input and print the input in seperate lines use loops

In [23]:
str= input("Enter a string")
for char in str:
  print(char)

Enter a stringSANTH
S
A
N
T
H